
body{
  background-color: #256d85;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2em;
  color: #06283D;
  margin: 0;
}
.subtitle{
  color: #47b5ff;
}
h1, h2{
  font-family: 'Cinzel', serif;
  font-size: 3.5rem;
  color:#EB8632;
  line-height: 1;
  margin: 0;
}
h2{
  color:#EB8632;
  font-family: 'poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  margin: auto auto 20px 10px;
  text-align: left;
}
h3{
  color: #256d85;
  font-size: 1rem;
}
h4, h5, h6{
  font-family: 'poppins', sans-serif;
  font-size: .9rem;
  margin: auto auto 20px 10px;
  text-align: left;
}
p{
  color:#06283D;
  font-family: 'poppins', sans-serif;
  font-size: 1.2rem;
  margin: auto auto 20px 10px;
  text-align: left;
}
.btn-outline{
  background-color: #06283d;
  outline-color: #06283d;
  color: #EB8632;
  padding: 10px;
}
.btn-outline:hover{
  background-color: #256d85;
    outline-color: #06283d;
  color: #EBDE5D;
}
.menu, .navbar{
    background-color: #06283d;
}
.navbar-collapse{
  padding: 20px;
}
a, a:visited, .nav-link, .nav-link:visited, link-primary{
    color: #EB8632;
}
.nav-link:hover{
    color: #EBDE5D;
}
ul.nav li a, ul.nav li a:visited {
    color: ##EB8632 !important;
}

ul.nav li a:hover, ul.nav li a:hover {
    color: #EBDE5D !important;
}

ul.nav li.active a {
    color: #EBDE5D !important;
}

.title{
  background-color: #06283d;
  display: inline-block;
  margin: auto auto 20px 100px;
  position: relative;
  bottom: 40px;
}
.subtitle{
  font-size: 1rem;
  color: #256d85;
  margin: 0 50px 0 0;
}
@media only screen and (min-width:600px){
  .subtitle{
    margin: 0 300px 0 0;
  }
}
.logo{
  background-color: #06283d;
  padding: 10px 10px 10px 10px;
}
.rounded-circle{
  width: 150px;
  height: 150px;
}
.spacer{
  margin: 10px;
}
.menu-icon{
  font-size: 2rem;
}
.footer-icon{
    color: #06283D;
    font-size: 3rem;
    padding: 10px;
}
@media only screen and (min-width:600px){
    .footer-icon{
      color: #06283D;
      font-size: 6rem;
      text-align: center;
      padding: 20px;
    }
}
.copyright{
  color: #EB8632;
  font-size: 1.2rem;
  text-align: right;
}
.img-title{
    max-width: 70%;
    margin: auto auto 20px 10px;
}
@media only screen and (min-width:600px){
  .img-title{
    max-width: 40%;
    margin: auto auto 20px 10px;
  }
}
.accordion-list0{
    background: #6CF0B8!important
}
.accordion-list1{
    background: #F0B66A!important
}
.accordion-list2{
    background: #F04D49!important
}
.accordion-list-closed{
    background: #C0C0F0!important
}