{% include "header.html" %}
  <body>
        <div class="spacer">
      <hr>
    </div>
    <main role="main">
      <div class="container-fluid">
        <div class=row>
          <div class="col-lg-2 text-center">
          </div>
          <div class="col-lg-8 p-3">
            <h1 >Categories</h1>
            <p>Here you will find all availlable categories.</p>
          </div>
        </div>
      </div>
    <div class="spacer">
      <hr>
    </div>
    <main role="main">
      {% for category in categories: %}
      <div class="container-fluid">
        <div class=row>
          <div class="col-lg-2 text-center">
            <img class="rounded-circle m-1" src="{{ category.img_url }}" alt="Generic placeholder image">
          </div>
          <div class="col-lg-8 p-3">
            <h1 ><a class="nav-link" href="{{ url_for('show_category', index=category.id) }}">{{ category.name }}</a></h1>
            <p>{{ category.description }}</p>
            <p><a class="btn btn-outline" href="{{ url_for('show_category', index=category.id) }}" role="button">View category &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="spacer">
      <hr>
    </div>
      {% endfor %}
    </main>
{% include "footer.html" %}
