{% include "header.html" %}
  <body>
    <div class="spacer">
      <hr>
    </div>
    <main role="main">
      {% for post in posts[:-4:-1]: %}
      <div class="container-fluid">
        <div class=row>
          <div class="col-lg-2 text-center">
            <img class="rounded-circle m-1" src="{{ post.img_url }}" alt="Generic placeholder image">
          </div>
          <div class="col-lg-8 p-3">
            <h2 >{{ post.title }}</h2>
            <p>{{ post.subtitle }}</p>
            {% for tag in post.tags: %}
            <p>{{ tag.name }}</p>
            {% endfor %}
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </main>
{% include "footer.html" %}

