{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
<body>
    <main role="main">
            <div class="spacer">
      <hr>
    </div>
    <main role="main">
      <div class="container-fluid">
        <div class=row>
          <div class="col-lg-2 text-center">
          </div>
          <div class="col-lg-8 p-3">
            <h1 >Log In</h1>
            <p>Some text</p>
          </div>
        </div>
      </div>
          <div class="spacer">
      <hr>
    </div>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="text-center text-warning">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
    </main>

{% include "footer.html" %}
