{% include "header.html" %}
  <body>
    <div class="spacer">
      <hr>
    </div>
    <main role="main">
    <div class="container-fluid">
        <div class=row>
          <div class="col-lg-2 text-center">
              <div class="dropdown mt-3">
                <button class="btn btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class="fa-solid fa-list menu-icon"></i> Select Project
                </button>
                <ul class="dropdown-menu">
                  {% for project in current_user.projects %}
                  <li><a class="dropdown-item" href="{{ url_for('show_todo', index=project.id) }}">{{ project.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          <div class="col-lg-6 p-3">
            <h1 >Projects</h1>
            <p></p>
          </div>
            <div class="col-lg-4 text-left">
                <a class="btn btn-outline mt-3" href="{{ url_for('add_project') }}"><i class="fa-solid fa-plus menu-icon"></i> Create Project</a>
            </div>
        </div>
    </div>
    <div class="spacer">
      <hr>
    </div>
        {% for item in items %}
        <div class=row>
          <div class="col-lg-2 text-center">
          </div>
          <div class="col-lg-6 p-3">
            <h1 ><a class="nav-link" href="{{ url_for('show_todo', index=item.id) }}">{{ item.name }}</a></h1>
            <p>{{ item.description }}</p>
            {% if item.img_url %}
            <a href="{{ url_for('show_todo', index=item.id) }}"><img src="{{ item.img_url }}" class="img-title" alt="..."></a>
            {% endif %}
            <p><a class="btn btn-outline" href="{{ url_for('show_todo', index=item.id) }}" role="button">Show &raquo;</a></p>
          </div>
            <div class="col-lg-4 text-left">
                <a class="btn btn-outline mt-3" href="{{ url_for('edit_project', index=item.id) }}"> Edit Project</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline mt-3" data-bs-toggle="modal" data-bs-target="#modal-{{ item.id }}">
                  Delete Project
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal-{{ item.id }}" tabindex="-1" aria-labelledby="modal-{{ item.id }}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-{{ item.id }}Label">{{ item.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        This will permanently delete this project.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Abort</button>
                          <a href="{{ url_for('delete_project', index=item.id) }}"><button type="button" class="btn btn-success">Proceed</button></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
     <div class="spacer">
      <hr>
    </div>
        {% endfor %}
    </main>
{% include "footer.html" %}