{% include "header.html" %}
  <body>
      <main role="main">
    <div class="spacer">
      <hr>
    </div>
    <div class="container-fluid">
        <div class=row>
          <div class="col-lg-2 text-center">
              <div class="dropdown mt-3">
                <button class="btn btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class="fa-solid fa-list menu-icon"></i> Select Project
                </button>
                <ul class="dropdown-menu">
                    {% if projects_count < 10 %}
<!--                    # TODO: find a place to store as variable-->
                  <li><a class="dropdown-item" href="{{ url_for('add_project') }}">Create Project</a></li>
                    {% endif %}
                  {% for project in current_user.projects %}
                  <li><a class="dropdown-item" href="{{ url_for('show_todo', project_id=project.id) }}">{{ project.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          <div class="col-lg-6 p-3">
            <h1 >{{ project.name }}</h1>
            <p>{{ project.description }}</p>
              {% if project.img_url != "" %}
              <img class="img-fluid" src="{{ project.img_url }}" alt="Generic placeholder image">
              {% endif %}
          </div>
            <div class="col-lg-4 text-left">
                {% if todo_count < 100 %}
<!--                # TODO: find a place to store as variable-->
                <a class="btn btn-outline mt-3" href="{{ url_for('add_todo', project_id=project.id) }}"> Add Task</a>
                {% endif %}
                <a class="btn btn-outline mt-3" href="{{ url_for('edit_project', project_id=project.id) }}"> Edit Project</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline mt-3" data-bs-toggle="modal" data-bs-target="#modal-{{ project.id }}">
                  Delete Project
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal-{{ project.id }}" tabindex="-1" aria-labelledby="modal-{{ project.id }}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-{{ project.id }}Label">{{ project.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        This will permanently delete this project.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Abort</button>
                          <a href="{{ url_for('delete_project', project_id=project.id) }}"><button type="button" class="btn btn-success">Proceed</button></a>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
    <div class="spacer">
      <hr>
    </div>
          {% if project.parent_todo_list %}
    <div class="container-fluid">
        <div class=row>
          <div class="col-lg-2 text-center">
          </div>
          <div class="col-lg-6 p-3">
            <h1 >Current Tasks</h1>
          </div>
        </div>
    </div>
          {% endif %}
      <div class="accordion" id="accordion">
        {% for item in project.parent_todo_list if item.status == 1 %}
       <div class="container-fluid">
              <div class=row>
                <div class="col-lg-2 text-center">
                </div>
                  <div class="col-lg-6 p-3">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ item.id }}">
                          <button class="accordion-button accordion-list{{item.priority}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}">
                            {{ item.icon | safe }} {{ item.title }}
                          </button>
                        </h2>
                        <div id="collapse{{ item.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item.id }}" data-bs-parent="#accordion">
                          <div class="accordion-body">
                            <strong>{{ item.description }}</strong> {{ item.body | safe }}
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <a class="btn btn-outline btn-sm mt-3" href="{{ url_for('toggle_todo_status', index=item.id, project_id=project.id) }}" role="button"> Close Task</a>
                    <a class="btn btn-outline btn-sm mt-3" href="{{ url_for('edit_todo', index=item.id, project_id=project.id) }}" role="button"> Edit Task</a>
                    <a class="btn btn-outline btn-sm mt-3" href="{{ url_for('delete_todo', index=item.id, project_id=project.id) }}" role="button"> Delete Task</a>
                     <button class="btn btn-outline btn-sm dropdown-toggle mt-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Transfer
                     </button>
                      <ul class="dropdown-menu">
                          {% for new_project in current_user.projects %}
                          <li><a class="dropdown-item" href="{{ url_for('transfer_todo', todo_id=item.id, new_project_id=new_project.id, project_id=project.id) }}">{{ new_project.name }}</a></li>
                          {% endfor %}
                      </ul>
                 </div>
                  </div>
             </div>
          <div class="spacer">
            <hr>
          </div>
              {% endfor %}
             </div>
          <div class="spacer">
            <hr>
          </div>
          {% if project.parent_todo_list %}
    <div class="container-fluid">
        <div class=row>
          <div class="col-lg-2 text-center">
          </div>
          <div class="col-lg-6 p-3">
            <h1 >Closed Tasks</h1>
          </div>
        </div>
    </div>
          {% endif %}
       <div class="accordion" id="accordion-closed">
        {% for item in project.parent_todo_list if item.status == 0 %}
       <div class="container-fluid">
              <div class=row>
                <div class="col-lg-2 text-center">
                </div>
                  <div class="col-lg-6 p-3">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-closed{{ item.id }}">
                          <button class="accordion-button accordion-list-closed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-closed{{ item.id }}" aria-expanded="true" aria-controls="collapse-closed{{ item.id }}">
                            {{ item.icon | safe }} {{ item.title }}
                          </button>
                        </h2>
                        <div id="collapse-closed{{ item.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item.id }}" data-bs-parent="#accordion-closed">
                          <div class="accordion-body">
                            <strong>{{ item.description }}</strong> {{ item.body | safe }}
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-4 text-left">
                    <a class="btn btn-outline btn-sm mt-3" href="{{ url_for('toggle_todo_status', index=item.id, project_id=project.id) }}" role="button"> Open Task</a>
                    <a class="btn btn-outline btn-sm mt-3" href="{{ url_for('delete_todo', index=item.id, project_id=project.id) }}" role="button"> Delete Task</a>
                </div>
                  </div>
             </div>
              {% endfor %}
          <div class="spacer">
            <hr>
          </div>
       </div>
    </main>
{% include "footer.html" %}